@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nav-bg: var(--nav-bg);
  --color-icon-bg: var(--icon-bg);
  --color-card-bg: var(--card-bg);
  --color-card-border-color: var(--card-border-color);
  --color-text-color: var(--text-color);
  --color-polygon-bg: var(--polygon-bg);
}

:root {
  --background: #f1f5f9;
  --foreground: #0f172a;
  --nav-bg: #F3B91A1A;
  --icon-bg: #FFFFFF;
  --card-bg: #F3B91A;
  --card-border-color: #F3B91A;
  --text-color: #212121;
  --polygon-bg: #FFFFFF3D;
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
  --nav-bg: #3D5266;
  --icon-bg: #1D2B3A;
  --card-bg: #3D52664D;
  --card-border-color: #3D5266;
  --text-color: #FFFFFF;
  --polygon-bg: #FFFFFF1A;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}
